extends layout.pug

block content
    div(class="column browse-content")
        h2= `TV Shows`
        div
            ul
                each show in tvShows
                    li 
                      div(class="shows")
                        img(src=show.image class="images")
                        div(class="description")
                            p(class="titles") #{show.name}
                            p #{show.genre}
                            p #{show.rating}
                            p(class="synopsis") #{show.synopsis}
                            button(type="submit") Add To Channels
