extends layout.pug

block content
    div(class="column browse-content")
        h2= `TV Shows`
        div
            ul
                each show in tvShows
                    li 
                      div(class="shows")
                        img(src=show.image class="images")
                        div(class="description")
                            p(class="titles") #{show.name}
                            p(class="genre") #{show.genre}
                            p(class="rating") Ratings: #{show.rating}/5
                            p(class="synopsis") #{show.synopsis}
                            form(action="/users" method="post")
                                select
                                        each channel in channels
                                            option #{channel.title}
                                button(type="submit" ) Add to Channels
