extends layout.pug

append head
    script(src='/javascripts/browse.js' type='module' defer)

block content
    div(class="column browse-content")
        h2= `TV Shows`
        div
            ul
                each show in tvShows
                    li
                      div
                        img(src=show.image)
                        p #{show.name}
                        p #{show.genre}
                        p #{show.rating}
                        p #{show.synopsis}
                        data(id="show-id" value=show.id)
                        select(id="rating-select")
                            option(value="") Rate this show!
                            option(value=1) 1
                            option(value=2) 2
                            option(value=3) 3
                            option(value=4) 4
                            option(value=5) 5
                        textarea(id="review", cols="30", rows="10")
                        button(id="review-button" value='Post')








        button(type='Logout')
